@using Microsoft.Extensions.Configuration
@model (List<Product>, int MaxValue)
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Products Page";
}
@{int Max = (Model.MaxValue > 0 ? Model.MaxValue : Model.Item1.Count); }

<h1>@ViewData["Title"]</h1>

<u>Products:</u>

<body>
    <p>
        <table border="1" style="border-width: 5px; border-color: #C0C0C0; border-style: double;">
            <tr>
                <th>ProductID</th>
                <th>ProductName</th>
                <th>CompanyName</th>
                <th>CategoryName</th>
                <th>QuantityPerUnit</th>
                <th>UnitPrice</th>
                <th>UnitsInStock</th>
                <th>UnitsOnOrder</th>
                <th>ReorderLevel</th>
                <th>Discounting</th>
            </tr>
            @for (int i = 0; i < Max; i++)
            {
                <tr>
                    <td>@Model.Item1[i].ProductID</td>
                    <td>@Model.Item1[i].ProductName</td>
                    <td>@Model.Item1[i].CompanyName</td>
                    <td>@Model.Item1[i].CategoryName</td>
                    <td>@Model.Item1[i].QuantityPerUnit</td>
                    <td>@Model.Item1[i].UnitPrice</td>
                    <td>@Model.Item1[i].UnitsInStock</td>
                    <td>@Model.Item1[i].UnitsOnOrder</td>
                    <td>@Model.Item1[i].ReorderLevel</td>
                    <td>@Model.Item1[i].Discontinued</td>
                </tr>
            }
        </table>
    </p>
</body>
